@model string


<div class="container row border ml-1 backgroundWhiteBorder10Padding" style="width:100%">
<div class="col-lg col-12">
    <br />
    <img src="@Model" width="100%"  />
    </div>
</div>